<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   list.plist
   PlistTutorial

   Created by Phan Thi Ngoc Cam on 5/11/17.
   Copyright (c) 2017 ngoccam. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>myItem</key>
        <string>Cau 1</string>
        
        <key>myItem1</key>
        <string>Cau 2</string>
        
        <key>myItem2</key>
        <string>Cau 3</string>
    </dict>
</plist>
